{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "angular",
        "releaseRules": [
          {
            "type": "chore",
            "release": "patch"
          },
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "type": "revert",
            "release": "patch"
          },
          {
            "type": "style",
            "release": "patch"
          }
        ],
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES"
          ]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "angular",
        "presetConfig": {
          "types": [
            {
              "type": "revert",
              "section": "Reverts"
            },
            {
              "type": "feat",
              "section": "Features"
            },
            {
              "type": "fix",
              "section": "Bug Fixes"
            },
            {
              "type": "improvement",
              "section": "Improvements",
              "hidden": false
            },
            {
              "type": "perf",
              "section": "Performance Improvements"
            },
            {
              "type": "chore",
              "section": "Miscellaneous Chores",
              "hidden": false
            },
            {
              "type": "refactor",
              "section": "Code Refactors",
              "hidden": false
            },
            {
              "type": "docs",
              "section": "Documentation",
              "hidden": false
            }
          ]
        }
      }
    ],
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}
